<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">


	<h:head>
	<ui:include src="/template/header.xhtml" />
	</h:head>

<h:outputLabel value="Vos playlists :" />
<h:dataTable value="#{loginBean.dj.playlists}" var="playlist" border="1">
	  <h:column>
	     <f:facet name="header">
	         <h:outputText value="Name" />
	     </f:facet>
	     <h:outputText value="#{playlist.name}" />
	  </h:column>
	  <h:column>
	     <f:facet name="header">
	         <h:outputText value="Duration" />
	     </f:facet>
	     <h:outputText value="#{playlist.duration}" />
	  </h:column>
	  <h:column>
	     <f:facet name="header">
	         <h:outputText value="Songs" />
	     </f:facet>
		     <h:dataTable value="#{playlist.songs}" var="song" border="1">
				     <h:column>
				     <f:facet name="header">
				         <h:outputText value="Song Name" />
				     </f:facet>
				     <h:outputText value="#{song.name}" />
				 	 </h:column>
				 	 
				 	 <h:column>
				     <f:facet name="header">
				         <h:outputText value="Song duration" />
				     </f:facet>
				     <h:outputText value="#{song.duration}" />
				 	 </h:column>
		     </h:dataTable>
	  </h:column>
	</h:dataTable>


	<ui:include src="/template/footer.xhtml" />
</html>