<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
	<h:outputText value="Examen S2 2018"/>
	<h:form>
		<h:outputText value="Bienvenue #{loginBean.dj.name} !"/>
	</h:form>
	<h1>
		<ui:insert name="title"></ui:insert>
	</h1>

</ui:composition>
